include mixins
html(lang='en')  
  head
    title Change Password
    +head

  body
    +navbar
    h1 Change Password:
    div(class = "container")
      div(class = "jumbotron")
        form(action = "/change_password", method="post")
          div(class = "form-group")
            label(for = "old_password") Old Password
            input(type = "password", class = "form-control", id = "old_password", name = "old_password")
          div(class = "form-group")
            label(for = "new_password") New Password
            input(type = "password", class = "form-control", id = "new_password", name = "new_password")
          input(type = "submit",value = "Submit")

