include mixins
html(lang='en')  
  head
    title Console
    +head

  body
    +navbar
    h1 Log in:
    div(class = "container")
      div(class = "jumbotron")
        form(action = "/eval", method="post")
          div(class = "form-group")
            input(type = "text", class = "form-control", id = "script", name = "script")
          input(type = "submit",value = "Submit")

