include mixins
doctype html  
html(lang='en')
  head
    title Seltzer Of The Day
    +head
  body
    +navbar
    h1 Today's Seltzer Flavors of the day are:
    div(class = "container-fluid")
      div(class = "row")
        div(class = "col-sm-4") 
          div(class = "row") Primary
          div(class = "row")
            img(src='/res/'+flavor_primary+'.jpg', height="200")
          div(class = "row")
            form(action = "/seltzer/primary" method = "post")
              input(type = "submit", name= "primary", value = "I've had one!",class="btn btn-primary")
        div(class = "col-sm-4") 
          div(class = "row") Secondary
          div(class = "row")
            img(src='/res/'+flavor_secondary+'.jpg', height="200")
          div(class = "row")
            form(action = "/seltzer/secondary" method = "post")
              input(type = "submit", name= "secondary", value = "I've had one!",class="btn btn-primary")
        div(class = "col-sm-4") 
          div(class = "row") Other
          div(class = "row")
            img(src='/res/undefined.jpg', height="200")
          div(class = "row")
            form(action = "/seltzer/other" method = "post")
              input(type = "submit",name = "other", value = "I had a different one because I'm a loser",class="btn btn-primary")

    h2 Number of Seltzers consumed today: #{num_primary + num_secondary + num_other}
    h3 Primary: #{num_primary}
    h3 Secondary: #{num_secondary}
    h3 Other: #{num_other}
    